* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

.display__none {
  display: none;
}

body img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 2;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
}

#login {
  margin: 20px;
}

#login input:first-child {
  width: 180px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

#login input:first-child::placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#login input:first-child:hover {
  border-bottom: 1px solid white;
}

#login input:first-child:hover::placeholder {
  color: white;
}

#login input:first-child:focus {
  border-bottom: 1px solid white;
  outline: none;
}

#login input:first-child:focus::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#login input:last-child {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-left: 2px solid white;
  font-size: 18px;
  color: white;
  padding-left: 10px;
  font-weight: bold;
}

#welcome {
  margin: 20px;
  width: 240px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#weather {
  margin: 20px;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#weather span {
  margin-left: 10px;
}

#date {
  margin-top: 140px;
}

#date,
#clock {
  font-weight: bold;
}

#date {
  margin-bottom: 0;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#clock {
  margin-top: 0;
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

#quote {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

#quote span:first-child {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px 10px 20px;
  text-align: center;
}

#quote span:last-child {
  font-size: 14px;
  font-weight: bold;
}

#todo {
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: center;
}

#todo input {
  width: 100%;
  padding: 6px 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  color: white;
}

#todo input:focus {
  color: white;
  border: 4px solid rgba(255, 255, 255, 1);
  outline: none;
}

#todo input:focus::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

#todo input::placeholder {
  color: white;
  text-align: center;
}

#todo input:hover {
  border: 4px solid rgba(255, 255, 255, 1);
}

#todo-list {
  padding: 0;
}

#todo-list li {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#todo-list li span {
  color: white;
  font-size: 20px;
}

#todo-list li button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 24px;
}
